<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/main.css">
  <title>Applicant Tracker</title>
</head>


  <div class="message-404">
    <h4 class="display-4">Sorry, that page doesn't exist! {{ request.status }}</h4>
    <p class="m-3">
      Applicant Tracker
      <a href="/"><b>return to the homepage</b></a>.</p>

  </div>

</body>

</html> 