<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
        
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
  <link href="/static/bootstrap.min.css" rel="stylesheet">
  <link href="/static/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/templatemo-topic-listing.css" rel="stylesheet">
  <title>Applicant Tracker</title>
</head>
    
<body class="topics-listing-page" id="top">

  <main>

    </div>
    </header>
            <header class="site-header d-flex flex-column justify-content-center align-items-center">
                <div class="container">
                    <div class="row align-items-center">

                        <div class="col-lg-5 col-12">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">Homepage</a></li>

                                    <li class="breadcrumb-item active" aria-current="page">Job Apply</li>
                                </ol>
                            </nav>

                            <h2 class="text-white">New Job Apply</h2>
                        </div>

                    </div>
                </div>
            </header>


            <section class="section-padding section-bg">
              <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12 mx-auto">
                            <h3 class="mb-4 pb-2">Add New Applicant Profile</h3>
                        </div>

                        <div class="col-lg-6 col-12">
                            {% with messages = get_flashed_messages(with_categories=true)%}
                            {% if messages %}
                              {% for x in messages %}
                              <div class="alert alert-danger alter-dismissable fade show" role="alert">{{ x }}</div>
                              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
                              {% endfor %}
                            {% endif %}
                            {% endwith %}
                            {% block content %}    
                            <form class="custom-form mt-4 pt-2 mb-lg-0 mb-5"   method="POST" action="">
                              {{ form.hidden_tag() }}
                              {% for field in form if field.widget.input_type != 'hidden' %}
                                <p>
                                  {{field.label}}
                                  {{field}}
                                  <span>
                                    {% if field.errors %}
                                      {% for error in field.errors %}
                                      {{error}}
                                      {% endfor %}
                                      {% endif %}
                                  </span>
                                </p>
                                {% endfor %}
                                <a class="btn custom-btn mt-3 mt-lg-4" href="/users/jobs" class="btn btn-outline-secondary">Cancel</a>                     
                                      
                                        </div>
                                    </div>

                                </div>
                            </form>
                           
                        {% endblock %}
                  </div>
              </div>
            </section>
        </main>

     

    </body>
</html>